<div class='col-md-8'>
    <h4><i class="fa fa-calendar-o fa-lg"></i> Termin:</h4>

    <div class="container">
        <div class="row">
            <div class='col-sm-6'>
                <div class="form-group">
                    <div class='input-group date datetimepicker'>
                        <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                    </div>
                </div>
            </div>
            <script type="text/javascript">

            </script>
        </div>
    </div>
</div>
