<div>

    <div class='col-md-12'>
        <h4>
            <a href="#" > Wróć do Tablicy</a>
        </h4>
    </div>

    <div>

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a  aria-controls="general" role="tab" data-toggle="tab">Ogólne</a>
            </li>
            <li role="presentation">
                <a  aria-controls="attachments" role="tab" data-toggle="tab">Załaczniki</a>
            </li>
            <li role="presentation">
                <a  aria-controls="duedate" role="tab" data-toggle="tab">Zmień termin</a>
            </li>
            <li role="presentation">
                <a  aria-controls="setlist" role="tab" data-toggle="tab">Przenieś zadanie</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="general">
                {{x-task-general task=model}}
            </div>

            <div role="tabpanel" class="tab-pane" id="attachments">
                ...
            </div>

            <div role="tabpanel" class="tab-pane" id="duedate">
                ...
            </div>

            <div role="tabpanel" class="tab-pane" id="setlist">
                ...
            </div>
        </div>

    </div>

</div>
