<div>
  <div class='col-md-6'>
    <form class='form-inline'>
      <div class='form-group'>
        {{view Ember.TextField valueBinding="newListName" class='form-control input-lg' placeholder='Add new List'}}
      </div>
      <input type='submit' value='Add'>
    </form>
  </div>

  {{newListName}}

  {{#each controller}}
    <p>{{name}}</p>
  {{/each}}
</div>
