<div>
  <h1>em-tasks</h1>
  <br />

  <div class='col-md-6'>
    <form class='form-inline'>
      <div class='form-group'>
        {{input type='text' value=name id='list_name' class='form-control input-lg' placeholder='Add new List'}}
      </div>
      <button type='submit' class='btn btn-default btn-lg'>Create List</button>
    </form>
  </div>

  <br />
  <br />
  <hr />

  <div class="row">
    {{#each model as |list|}}
      <div class="col-md-4">
        {{x-list list=list}}
      </div>
    {{/each}}
   </div>


</div>
