<div id="container">
  <h1>em-tasks</h1>
  <form>
    {{view Ember.TextField valueBinding="newListName"}}
    <input type='submit' value='Add'>
  </form>

  {{newListName}}

  {{#each controller}}
    <p>{{name}}</p>
  {{/each}}
</div>
