<div>
  <h1>em-tasks</h1>
  <br />

  <div class='col-md-6'>
    <form class='form-inline'>
      <div class='form-group'>
        {{input type='text' value=name id='list_name' class='form-control input-lg' placeholder='Dodaj Listę'}}
      </div>
      <button type='submit' class='btn btn-default btn-lg'>Dodaj Listę</button>
    </form>
  </div>

  <br />
  <br />
  <hr />

  <div class="row">
    {{#each model as |list|}}
      <div class="col-md-4">
          {{x-list list=list}}

          {{x-add-task list=list}}

          {{#each list.tasks as |task|}}

              {{x-task task=task}}

          {{/each}}

      </div>
    {{/each}}
  </div>


</div>
